body {
  width: 100%;
  margin: 0;
}
.wrapper,
.common {
  width: 100%;
  height: auto;
}
.header {
  width: 100%;
  height: 200px;
  background: scroll #0000ff url("../img/header_320_1_2.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header h2,
.header p {
  color: white;
  line-height: 1.5;
  display: relative;
}
.header h2 {
  margin-top: 60px;
}
.header p {
  margin: 0;
}
.header nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  background: #FFBF00;
}
.header nav .social {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 34px;
}
.header nav .social_vk {
  background: scroll url("../img/blog_icons_320.jpg") -65px -11px no-repeat;
}
.header nav .social_facebook {
  background: scroll url("../img/blog_icons_320.jpg") -117px -11px no-repeat;
}
.header nav .social-inst {
  background: scroll url("../img/blog_icons_320.jpg") -273.5px -11px no-repeat;
}
.header nav .social-ytube {
  background: scroll url("../img/blog_icons_320.jpg") -170px -64px no-repeat;
}
.header nav .mainmenu {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  padding: 0;
  border: solid 3px #1B1BB3;
  border-radius: 5px;
}
.header nav .mainmenu .gamb {
  display: flex;
  position: relative;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header nav .mainmenu .gamb div {
  display: block;
  position: relative;
  background: #1B1BB3;
  width: 20px;
  height: 3px;
  margin: 0px;
  border-radius: 3px;
  border: solid 1px #1B1BB3;
}
.header nav .mainmenu .menu {
  display: none;
  position: absolute;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
  top: 40px;
  left: 0%;
  background: #FFBF00;
}
.header nav .mainmenu .menu li:first-child {
  border-bottom: none;
  color: #FFBF00;
  line-height: 1;
}
.header nav .mainmenu .menu li {
  border-bottom: solid 1px #BF9B30;
}
.header nav .mainmenu .menu li a {
  text-decoration: none;
  color: #1B1BB3;
}
.header nav .mainmenu .menu .dropdown1 div {
  display: none;
}
.header nav .mainmenu .menu .dropdown1 ul {
  display: none;
  list-style: none;
  padding: 0;
}
.header nav .mainmenu .menu .dropdown1 ul li {
  border-bottom: none;
}
.header nav .mainmenu .menu .dropdown1 ul li:first-child {
  margin: 2px 0 3px 0;
}
.header nav .mainmenu .menu .drop {
  opacity: 0.5;
}
.header nav .mainmenu .menu .drop > a {
  color: #1B1BB3;
  cursor: default;
}
.header nav .mainmenu:hover .menu {
  display: flex;
}
.header nav .mainmenu:hover .menu .dropdown1:hover ul {
  display: block;
}
.header nav .mainmenu:hover .menu .dropdown1:hover ul a {
  cursor: default;
}
.t091218 {
  width: 80%;
  height: auto;
  margin: 15px auto 0 auto;
  padding-bottom: 10px;
  border-bottom: solid 1px #d9d9d9;
}
.t091218 img {
  width: 100%;
  height: auto;
}
.t091218 .content {
  width: 100%;
  height: auto;
}
.t091218 .content .name {
  display: flex;
  margin: 0;
}
.t091218 .content .name .avatar {
  width: 30px;
  height: 30px;
  margin-right: 3%;
  background: scroll url("../img/avatar_320.jpg") 100% 60% no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.t091218 .content .name .name2 {
  display: flex;
  width: 85%;
  flex-direction: column;
  justify-content: space-around;
}
.t091218 .content .name .name2 .author {
  width: 70%;
  height: 10px;
  padding: 0;
}
.t091218 .content .name .name2 .author p {
  font-size: 3.5vw;
  line-height: 1;
  margin: 0;
  color: black;
}
.t091218 .content .name .name2 .author p:hover {
  color: #595959;
}
.t091218 .content .name .name2 .date {
  display: flex;
  align-items: center;
  width: auto;
}
.t091218 .content .name .name2 .date .date2 {
  width: 37%;
  height: 10px;
}
.t091218 .content .name .name2 .date .date2 p {
  font-size: 3vw;
  line-height: 1;
  margin: 0;
  color: black;
}
.t091218 .content .name .name2 .date .date2 p:hover {
  color: #595959;
}
.t091218 .content .name .name2 .date .point {
  width: 2px;
  height: 2px;
  margin: 0 4% 0;
  border: solid 1px #595959;
  border-radius: 3px;
  background: #595959;
}
.t091218 .content .name .name2 .date .time {
  width: 45%;
  height: 10px;
}
.t091218 .content .name .name2 .date .time p {
  font-size: 3vw;
  line-height: 1;
  margin: 0;
  color: black;
}
.t091218 .content .name .name2 .date .time p:hover {
  color: #595959;
}
.t091218 .content a {
  text-decoration: none;
}
.t091218 .content a .text {
  margin: 0;
}
.t091218 .content a .text h3 {
  line-height: 1.5;
  margin: 5px 0 15px 0;
  text-align: center;
  color: black;
}
.t091218 .content a .text p {
  text-indent: 10%;
  text-align: justify;
  margin: 0;
  color: black;
}
.t091218 .content a .text h3:hover,
.t091218 .content a .text p:hover {
  color: #595959;
}
