/*--------------------------------
Classes of wrapper
--------------------------------*/
body,
.wrapper{
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
/*--------------------------------
Header
--------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-image: url("../img/header_992.jpg");
  background-size: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  }
  .header h2 {
    color: white;
    margin: 0;
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  .header p {
    width: 343px;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }
  .header>div:nth-child(3) {
    display: flex;
    flex-direction: row;
    width: 343px;
    justify-content: space-between;
  }
  .header>div:nth-child(3) p:first-child{
    text-align: left;
  }
  .header>div:nth-child(3) p:nth-child(2){
    padding: 0 0 0 50px;
  }
  .header>div:nth-child(3) p:nth-child(3){
    text-align: right;
  }
  .header__nav{
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 447px;
    border-bottom: solid 3px #FFBF00;
  }
    .header__nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }
  .header__nav_menu>a{
    padding: 5px;
    text-decoration: none;
  }
  .header__nav_menu--yellow--active{
    background: #FFBF00;
    border-radius: 10px 10px 0 0;
  }
  .header__nav_menu>a:hover{
    cursor: pointer;
  }
  .header__nav_menu a li{
    font-size: 18.5px;
    color: white;
    text-decoration: none;
    outline: none;
  }
  .header__nav_menu_point_under{
    display: none;
  }
  .header__nav_menu>a:nth-child(2) div{
    display: none;
  }
  .header__nav__spec{
    display: none;
  }