/*--------------------------------
Classes of wrapper
--------------------------------*/
body,
.wrapper{
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
/*--------------------------------
Header
--------------------------------*/
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-image: url("../img/header_992.jpg");
  background-size: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-bottom: solid 3px #FFBF00;
  }
  .header h2 {
    color: white;
    margin: 0;
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  .header p {
    width: 343px;
    color: white;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
  }
  .header>div:nth-child(3) {
    display: flex;
    flex-direction: row;
    width: 343px;
    justify-content: space-between;
  }
  .header>div:nth-child(3) p:first-child{
    text-align: left;
  }
  .header>div:nth-child(3) p:nth-child(2){
    padding: 0 0 0 50px;
  }
  .header>div:nth-child(3) p:nth-child(3){
    text-align: right;
  }
  .header__nav{
    display: block;
    position: relative;
    width: 802px;
    height: auto;
    top: 134px;
  }
    .header__nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }
  .header__nav_menu>a{
    padding: 5px;
    text-decoration: none;
  }
  .header__nav_menu--yellow--active{
    background: #FFBF00;
    border-radius: 10px 10px 0 0;
  }
  .header__nav_menu--yellow--active--drop{
    background: #FFBF00;
    border-radius: 0 0 10px 10px;
    color: white;
  }
  .header__nav_menu>a:hover{
    cursor: pointer;
  }
  .header__nav_menu a li{
    font-size: 18.5px;
    color: white;
    text-decoration: none;
    outline: none;
  }
  .noactive{
    opacity: 0.5;
    cursor: default;
  }
  .header__nav_menu_point_under{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 114px;
    top: 40px;
    left: 111px;
    list-style-type: none;
    padding: 5px;
  }
  .header__nav_menu_point_under a{
    text-decoration: none;
  }
  .header__nav_menu_point_under a li{
    width: 100%;
    padding: 2.5px 0;
    color: blue;
    text-decoration: none;
  }
  .header__nav__spec{
    display: none;
  }
/*----------------------------------
--------------Common----------------
----------------------------------*/
.common{
  width: 65%;
  height: auto;
  padding: 0;
  margin: 50px auto;
}
.date{
  width: 100%;
  height: auto;
  margin: 50px 0 0 0;
}
/*----------------------------------
--------------Images----------------
----------------------------------*/
 #d28072019 .img{
  width: 300px;
  height: 220px;
  margin: 0 auto;
  background: url(../img/portfolio/chat.jpg) no-repeat;
  background-size: contain;
}
 #d20072019 .img{
  width: 107px;
  height: 341px;
  margin: 0 auto;
  background: url(../img/portfolio/First_WP-min.jpg) no-repeat;
  background-size: contain;
}
#d18072019 .img{
  width: 320px;
  height: 341px;
  margin: 0 auto;
  background: url(../img/blog/anketa.jpg);
  background-size: cover;
  border: solid 1px #d7d7d7;
}
#d08072019 .img{
  width: 300px;
  height: 108px;
  margin: 0 auto;
  background: url(../img/blog/08072019.jpg);
  background-size: cover;
}
#d11062019 .img{
  width: 288px;
  height: 150px;
  margin: 0 auto;
  background: url(../img/first_post_995.jpg);
  background-size: cover;
}
/*----------------------------------
--------------Author----------------
----------------------------------*/
.author{
  display: flex;
  flex-direction: row;
}
.author_img{
  width: 70px;
  height: 70px;
  background: url(../img/avatar_995.jpg);
  border-radius: 50%;
}
.author_about{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 45px;
  padding: 5px 0;
  margin: auto 10px;
}
.author_about>p{
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  line-height: 16px;
}
.author_inform{
  display: flex;
  flex-direction: row;
  height: 15px;
  margin: 10px 0 0 0;
}
.author_inform p{
  height: 14px;
  line-height: 12px;
  font-size: 15px;
}
.author_inform span{
  height: 14px;
  line-height: 12px;
  padding: 0 10px;
}
/*----------------------------------
--------------Content---------------
----------------------------------*/
.content{
  width: 100%;
  height: auto;
  margin: 10px 0 5px 0;
}
.content>a,
#d18072019 .content p:nth-child(2) a:hover{
  text-decoration: none;
}
.content>a h5{
  color: black;
  font-weight: 800;
  text-align: center;
}
.content p,
.content ol{
  margin: 0;
}
.content p{
  text-indent: 25px;
}
#d07072019 .content p{
  text-indent: 0;
}
.content ol li a{
  text-decoration: underline;
  color: black;
  font-style: italic;
}
 /*Начало подвала*/
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #003d99;
  }
/*Название подвала*/
.footer_name {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 5.6001px;
  padding: 0;
  }
  .footer_name h4 {
    font-size: 1.875rem;
    color: #3385ff;
    margin: 0;
    text-align: center;
  }
  .footer_name p {
    font-size: 0.75rem;
    color: #3385ff;
    margin: 0;
    text-align: center;
  }
/*Социальные сети*/
.social {
  width: 80%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  margin-top: 28px;
  text-align: center;
  }
  .social p {
    color: white;
    font-size: 1.40625rem;
    margin: 0;
  }
  .social .social_button {
    display: flex;
    width: 37%;
    height: auto;
    padding: 0;
    margin: 0 0 0 32%;
    justify-content: space-around;
    align-items: center;
  }
  .social .social_button .social_vk {
    background: #003d99 url(../img/social_icons_480.jpg) -80px -14px no-repeat;
    border-radius: 41px;
  }
  .social .social_button .social_tw {
    background: #003d99 url(../img/social_icons_480.jpg) -206px -12px no-repeat;
    border-radius: 41px;
  }
  .social .social_button .social_fb {
    background: #003d99 url(../img/social_icons_480.jpg) -142px -14px no-repeat;
    border-radius: 41px;
  }
  .social .social_button .social_inst {
    background: #003d99 url(../img/social_icons_480.jpg) -333px -14px no-repeat;
    border-radius: 41px;
  }
  .social .social_button .social_yout {
    background: #003d99 url(../img/social_icons_480.jpg) -206px -79px no-repeat;
    border-radius: 41px;
  }
  .social_vk,
  .social_tw,
  .social_fb,
  .social_inst,
  .social_yout {
    display: block;
    width: 41px;
    height: 41px;
    margin: 0;
    padding: 0;
  }
/*Обратная связь*/
.feedback {
  width: 90%;
  height: auto;
  margin: 28px auto 0px auto;
  }
  .feedback .feedback_vk {
    width: 20.8%;
    height: auto;
    margin: 0 auto;
  }
  .feedback .feedback_vk input {
    height: 40px;
    border: solid 3px white;
    border-radius: 30px;
    background-color: #003d99;
    color: white;
    font-size: 1.40625rem;
  }
  .feedback .feedback_vk input:hover {
    cursor: pointer;
  }
  .feedback .feedback_name {
    width: 100%;
    color: #3385ff;
    font-size: 1rem;
    margin-top: 3px;
  }
  .feedback .feedback_name p:first-child {
    margin: 0;
    text-align: center;
  }
  .feedback .feedback_name p:nth-child(2) {
    margin: 0;
    text-align: center;
  }