/*Шпака сайта*/
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-image: url("../img/header_992.jpg");
  background-size: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.header h2 {
  color: white;
  margin: 0;
  font-size: 4rem;
  margin-bottom: 30px;
}
.header .abbr p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
.header .abbr div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header .abbr div p:nth-child(2) {
  margin: 0 10% 0 10%;
}
/*Раздел навигации*/
nav {
  display: block;
  position: absolute;
  width: 100%;
  height: 50px;
  margin-top: 225px;
}
nav .mainmenu {
  width: 100%;
  height: 50px;
}
nav .mainmenu .spec {
  display: none;
}
nav .mainmenu .menu {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  list-style: none;
  border-bottom: solid 3px #FFBF00;
  /*li:last-child{
				margin-right: 0;
				opacity: 0.5;
				color: white;
			}*/
}
nav .mainmenu .menu li {
  margin-right: 2%;
}
nav .mainmenu .menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 0 auto;
}
nav .mainmenu .menu li:last-child {
  border-top: solid 3px #FFBF00;
  border-left: solid 3px #FFBF00;
  border-right: solid 3px #FFBF00;
  border-radius: 10px 10px 0 0;
  background: #ffbf00;
}
nav .mainmenu .menu li:last-child a {
  color: #1B1BB3;
}
nav .mainmenu .menu .drop {
  border-top: solid 3px transparent;
  border-left: solid 3px transparent;
  border-right: solid 3px transparent;
  border-radius: 10px 10px 0 0;
}
nav .mainmenu .menu .drop:hover {
  border-top: solid 3px #FFBF00;
  border-left: solid 3px #FFBF00;
  border-right: solid 3px #FFBF00;
  border-radius: 10px 10px 0 0;
  background: #ffbf00;
  cursor: pointer;
}
nav .mainmenu .menu .drop:hover a {
  color: #1B1BB3;
}
nav .mainmenu .menu li:nth-child(3),
nav .mainmenu .menu li:nth-child(4),
nav .mainmenu .menu li:nth-child(5),
nav .mainmenu .menu li:nth-child(6) {
  opacity: 0.5;
  color: white;
}
nav .mainmenu .menu li:nth-child(3):hover,
nav .mainmenu .menu li:nth-child(4):hover,
nav .mainmenu .menu li:nth-child(5):hover,
nav .mainmenu .menu li:nth-child(6):hover {
  border-top: solid 3px transparent;
  border-left: solid 3px transparent;
  border-right: solid 3px transparent;
  border-radius: 10px 10px 0 0;
  background: transparent;
  cursor: default;
}
nav .mainmenu .menu li:nth-child(3):hover a,
nav .mainmenu .menu li:nth-child(4):hover a,
nav .mainmenu .menu li:nth-child(5):hover a,
nav .mainmenu .menu li:nth-child(6):hover a {
  color: white;
  cursor: default;
}
nav .mainmenu .menu .dropdown1 {
  width: auto;
}
nav .mainmenu .menu .dropdown1 a {
  display: flex;
  height: 27px;
}
nav .mainmenu .menu .dropdown1 a div {
  margin-left: 5px;
  width: 20px;
  height: 27px;
}
nav .mainmenu .menu .dropdown1 .dropdown1_menu {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 104.5%;
  height: 70px;
  padding: 5px 0 0 1%;
  margin-left: -2%;
  list-style: none;
  background: blue;
  border-radius: 10px;
}
nav .mainmenu .menu .dropdown1 .dropdown1_menu li {
  list-style: none;
  border-top: solid 3px transparent;
  border-left: solid 3px transparent;
  border-right: solid 3px transparent;
  border-radius: 10px;
  background: transparent;
  width: 100%;
}
nav .mainmenu .menu .dropdown1 .dropdown1_menu li a {
  color: white;
  padding-left: 2%;
}
nav .mainmenu .menu .dropdown1 .dropdown1_menu li:last-child {
  margin: 5px 0 0 0%;
  opacity: 1;
}
nav .mainmenu .menu .dropdown1:hover .dropdown1_menu {
  display: inherit;
}
nav .mainmenu .menu .dropdown1:hover .dropdown1_menu a:hover {
  background: #ffbf00;
  border-radius: 10px;
  color: #1b1bb3;
}
/*Основной раздел*/
.common {
  width: 100%;
  height: auto;
  text-align: center;
}
.common h4 {
  font-size: 1.875rem;
  color: blue;
  margin-top: 9.333333333px;
}
/*Начало подвала*/
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #003d99;
}
/*Название подвала*/
.footer_name {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
  padding: 0 0 10px 0;
}
.footer_name h4 {
  font-size: 1.875rem;
  color: #3385ff;
  margin: 0;
  text-align: center;
}
.footer_name p {
  font-size: 0.75rem;
  color: #3385ff;
  margin: 0;
  text-align: center;
}
/*Социальные сети*/
.social {
  width: 80%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}
.social p {
  color: white;
  font-size: 1.40625rem;
  margin: 0;
}
.social .social_button {
  display: flex;
  width: 37%;
  height: auto;
  padding: 0;
  margin: 0 0 0 32%;
  justify-content: space-around;
  align-items: center;
}
.social .social_button .social_vk {
  background: #003d99 url(../img/social_icons_480.jpg) -80px -14px no-repeat;
  border-radius: 41px;
}
.social .social_button .social_tw {
  background: #003d99 url(../img/social_icons_480.jpg) -206px -12px no-repeat;
  border-radius: 41px;
}
.social .social_button .social_fb {
  background: #003d99 url(../img/social_icons_480.jpg) -142px -14px no-repeat;
  border-radius: 41px;
}
.social .social_button .social_inst {
  background: #003d99 url(../img/social_icons_480.jpg) -333px -14px no-repeat;
  border-radius: 41px;
}
.social .social_button .social_yout {
  background: #003d99 url(../img/social_icons_480.jpg) -206px -79px no-repeat;
  border-radius: 41px;
}
.social_vk,
.social_tw,
.social_fb,
.social_inst,
.social_yout {
  display: block;
  width: 41px;
  height: 41px;
  margin: 0;
  padding: 0;
}
/*Обратная связь*/
.feedback {
  width: 90%;
  height: auto;
  margin: 15px auto 0px auto;
}
.feedback .feedback_vk {
  width: 20.8%;
  height: auto;
  margin: 0 auto;
}
.feedback .feedback_vk input {
  height: 40px;
  border: solid 3px white;
  border-radius: 30px;
  background-color: #003d99;
  color: white;
  font-size: 1.40625rem;
}
.feedback .feedback_vk input:hover {
  cursor: pointer;
}
.feedback .feedback_name {
  width: 100%;
  color: #3385ff;
  font-size: 1rem;
  margin-top: 3px;
}
.feedback .feedback_name p:first-child {
  margin: 0;
  text-align: center;
}
.feedback .feedback_name p:nth-child(2) {
  margin: 0;
  text-align: center;
}
