.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-image: url("../img/header_480_1.jpg");
  background-size: cover;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.header h2 {
  color: white;
  margin: 0;
}
.header p {
  color: white;
}
.common {
  width: 100%;
  height: auto;
  text-align: center;
}
.common h4 {
  font-size: 1.5rem;
  color: blue;
  margin-top: 9.333333333px;
}
.portfolio {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: auto;
  margin: 0 auto;
}
.portfolio .my_site {
  width: 100%;
  height: auto;
}
.portfolio .my_site .foto {
  width: 100%;
  height: 224.99976px;
  margin-bottom: 3px;
}
.portfolio .my_site .foto img {
  width: 100%;
  height: 100%;
}
.portfolio .my_site .text {
  width: 100%;
  height: 65px;
}
.portfolio .my_site .text h6 {
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 3.7334px;
}
.portfolio .my_site .text p {
  font-size: 0.75rem;
  line-height: 1.5;
}
/*Начало подвала*/
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #003d99;
}
/*Название подвала*/
.footer_name {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 5.6001px;
  padding: 0;
}
.footer_name h4 {
  font-size: 1.5rem;
  color: #3385ff;
  margin: 0;
  text-align: center;
}
.footer_name p {
  font-size: 0.75rem;
  color: #3385ff;
  margin: 0;
  text-align: center;
}
/*Социальные сети*/
.social {
  width: 80%;
  height: auto;
  padding: 0;
  margin: 0 auto;
  margin-top: 28px;
  text-align: center;
}
.social p {
  color: white;
  font-size: 1.125rem;
  margin: 0;
}
.social .social_button {
  display: flex;
  width: 90%;
  height: auto;
  padding: 0;
  margin: 0 auto 0 6%;
  justify-content: space-around;
  align-items: center;
}
.social .social_button .social_vk {
  background: #003d99 url(../img/social_icons_480.jpg) -80px -14px no-repeat;
  border-radius: 41px;
}
.social .social_button .social_tw {
  background: #003d99 url(../img/social_icons_480.jpg) -206px -12px no-repeat;
  border-radius: 41px;
}
.social .social_button .social_fb {
  background: #003d99 url(../img/social_icons_480.jpg) -142px -14px no-repeat;
  border-radius: 41px;
}
.social .social_button .social_inst {
  background: #003d99 url(../img/social_icons_480.jpg) -333px -14px no-repeat;
  border-radius: 41px;
}
.social .social_button .social_yout {
  background: #003d99 url(../img/social_icons_480.jpg) -206px -79px no-repeat;
  border-radius: 41px;
}
.social_vk,
.social_tw,
.social_fb,
.social_inst,
.social_yout {
  display: block;
  width: 41px;
  height: 41px;
  margin: 0;
  padding: 0;
}
/*Обратная связь*/
.feedback {
  width: 90%;
  height: auto;
  margin: 28px auto 0px auto;
}
.feedback .feedback_vk {
  width: 46.5%;
  height: auto;
  margin: 0 auto;
}
.feedback .feedback_vk input {
  height: 40px;
  border: solid 3px white;
  border-radius: 30px;
  background-color: #003d99;
  color: white;
  font-size: 1.125rem;
  cursor: pointer;
}
.feedback .feedback_name {
  width: 100%;
  color: #3385ff;
  font-size: 1.125rem;
  margin-top: 3px;
}
.feedback .feedback_name p:first-child {
  margin: 0;
  text-align: center;
}
.feedback .feedback_name p:nth-child(2) {
  margin: 0;
  text-align: center;
}
