@h4:1.875rem;
@h6:1.40625rem;
@h75: 0.75rem;
@color_footer: rgb(0, 61, 153);
@color_footername:rgb(51, 133, 255);
@bdef:solid 1px red;
@main_foto:url("../img/header_992.jpg");
@height_mainfoto: 500px;

/*Шпака сайта*/
.header{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: @height_mainfoto;
	background-image:@main_foto;
	background-size: 100%;
	align-items: center;
	justify-content: center;
	padding: 0;
	h2{
		color: white;
		margin: 0;
		font-size: 4rem;
		margin-bottom: 30px;
	}
	.abbr{
		p{
			color: white;
			font-size: 1.5rem;
			text-align: center;
			margin: 0;
		}
		div{
			display: flex;
			flex-direction: row;
			justify-content: center;
			p:nth-child(2){
				margin: 0 10% 0 10%;
			}
		}
	}
}

/*Раздел навигации*/
nav{
	display: block;
	position: absolute;
	width: 100%;
	height: 50px;
	margin-top: 225px;
	.mainmenu{
		width: 100%;
		height: 50px;
		.spec{
			display: none;
		}
		.menu{
			display: flex;
			width: 100%;
			height: 100%;
			justify-content: center;
			list-style: none;
			border-bottom: solid 3px #FFBF00;
			border: @bdef;
			a{
				color: white;
				text-decoration: none;
				font-size: 1.1rem;
				margin: 0 2% 0 0;
			}
			
			a:last-child{
				border-top: solid 3px #FFBF00;
				border-left: solid 3px #FFBF00;
				border-right: solid 3px #FFBF00;
				border-radius:10px 10px 0 0;
				background: #ffbf00;
				color: #1B1BB3;
			}
			a:nth-child(2){
				width: 10%;
				li{
					display: flex;
					flex-direction: column;
					width: 100%;
					div:first-child{
						display: flex;
						flex-direction: row;
						border: @bdef;
						div:first-child{
							display: flex;
							flex-direction: row;
							position: relative;
							margin-right: 5%;
						}
						div:last-child{
							display: block;
							position: relative;
						}
					}
					div:last-child{
						display: flex;
						flex-direction: column;
						align-items: flex-start;
	width: 104.5%;
	height:70px;
	padding:5px 0 0 1%;
	margin-left: -2%;
	list-style: none;
	background: blue;
	border-radius:10px;
						border: @bdef;
					}
/* 					ul{
	
	flex-direction: column;
	align-items: flex-start;
	width: 104.5%;
	height:70px;
	padding:5px 0 0 1%;
	margin-left: -2%;
	list-style: none;
	background: blue;
	border-radius:10px;
	border: @bdef;
	a{
		list-style: none;
		border-top: solid 3px transparent;
		border-left: solid 3px transparent;
		border-right: solid 3px transparent;
		border-radius:10px;
		background: transparent;
		width: 100%;
		color: white;
		padding-left: 2%;
	}
	a:last-child{
		margin: 5px 0 0 0%;
		opacity: 1;
	}
} */
				}
			}
			.drop{
				border-top: solid 3px transparent;
				border-left: solid 3px transparent;
				border-right: solid 3px transparent;
				border-radius:10px 10px 0 0;
			}
			.drop:hover{
				border-top: solid 3px #FFBF00;
				border-left: solid 3px #FFBF00;
				border-right: solid 3px #FFBF00;
				border-radius:10px 10px 0 0;
				background: #ffbf00;
				cursor: pointer;
				color: #1B1BB3;
			}
			a:nth-child(3),
			a:nth-child(4),
			a:nth-child(5),
			a:nth-child(6){
				opacity: 0.5;
				color: white;
			}
			a:nth-child(3):hover,
			a:nth-child(4):hover,
			a:nth-child(5):hover,
			a:nth-child(6):hover{
				border-top: solid 3px transparent;
				border-left: solid 3px transparent;
				border-right: solid 3px transparent;
				border-radius:10px 10px 0 0;
				background: transparent;
				cursor: default;
				color: white;
			}
/* 			.dropdown1{
	width: 100px;
	a{
		display: flex;
		height: 27px;
		div{
			margin-left: 5px;
			width: 20px;
			height: 27px;
		}

	}
	.dropdown1_menu{
		display: none;
		flex-direction: column;
		align-items: flex-start;
		width: 104.5%;
		height:70px;
		padding:5px 0 0 1%;
		margin-left: -2%;
		list-style: none;
		background: blue;
		border-radius:10px;
		a{
			list-style: none;
			border-top: solid 3px transparent;
			border-left: solid 3px transparent;
			border-right: solid 3px transparent;
			border-radius:10px;
			background: transparent;
			width: 100%;
			color: white;
			padding-left: 2%;
		}
		li:last-child{
			margin: 5px 0 0 0%;
			opacity: 1;
		}
	}
	&:hover{
		.dropdown1_menu{
			display: inherit;
			a:hover{
				background: #ffbf00;
				border-radius:10px;
				color: #1B1BB3
			}
		}
	}
} */
		}
	}
}

/*Основной раздел*/
.common{
	width: 100%;
	height: auto;
	text-align: center;
	h4{
		font-size: @h4;
		color: blue;
		margin-top: 9.333333333px;
	}
}
/*Начало подвала*/
.footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: @color_footer;
}
/*Название подвала*/
.footer_name{
	width: 80%;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
	padding: 0 0 10px 0;
	h4{
		font-size:@h4;
	    color: rgb(51, 133, 255);
	    margin: 0;
	    text-align: center;
	}
	p{
		font-size:@h75;
		color: @color_footername;
		margin: 0;
		text-align: center;
	}
}
/*Социальные сети*/
.social{
	width: 80%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	p{
		color: white;
		font-size: @h6;
		margin: 0;
	}
	.social_button{
		display: flex;
		width: 37%;
		height: auto;
		padding: 0;
		margin: 0 0 0 32%;
		justify-content: space-around;
		align-items: center;
		.social_vk{
			background: rgb(0, 61, 153) url(../img/social_icons_480.jpg) -80px -14px no-repeat;
			border-radius: 41px;
		}
		.social_tw{
			background: rgb(0, 61, 153) url(../img/social_icons_480.jpg) -206px -12px no-repeat;
			border-radius: 41px;
		}
		.social_fb{
			background: rgb(0, 61, 153) url(../img/social_icons_480.jpg) -142px -14px no-repeat;
			border-radius: 41px;;
		}
		.social_inst{
			background: rgb(0, 61, 153) url(../img/social_icons_480.jpg) -333px -14px no-repeat;
			border-radius: 41px;
		}
		.social_yout{
			background: rgb(0, 61, 153) url(../img/social_icons_480.jpg) -206px -79px no-repeat;
			border-radius: 41px;
		}
	}
}
.social_vk,
.social_tw,
.social_fb,
.social_inst,
.social_yout{
	display: block;
	width: 41px;
	height: 41px;
	margin: 0;
	padding: 0;
}
/*Обратная связь*/
.feedback{
	width: 90%;
	height: auto;
	margin: 15px auto 0px auto;
	.feedback_vk{
		width: 20.8%;
		height: auto;
		margin: 0 auto;
		input{
			height: 40px;
			border: solid 3px white;
			border-radius: 30px;
			background-color: @color_footer;
			color: white;
			font-size: @h6;
		}
		input:hover{
			cursor: pointer;
		}
	}
	.feedback_name{
		width: 100%;
		color: @color_footername;
		font-size: 1rem;
		margin-top: 3px;
		p:first-child{
			margin: 0;
			text-align: center;
		}
		p:nth-child(2){
			margin: 0;
			text-align: center;
		}
	}
}
