@h4:1.2rem;
@h6:0.9rem;
@color_footer: rgb(0, 61, 153);
@color_footername:rgb(51, 133, 255);
@bdef:solid 1px red;

.header{
	width: 100%;
	height: 200px;
	background-image:url("../img/header_320_1_2.jpg");
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	h2{
		color: white;
		margin: 0;
	}
	p{

		color: white;
	}
}
/*Навигационное меню*/
nav{
	display: block;
	position: absolute;
	width: 100%;
	height: 41px;
	background: #FFBF00;
	top: 0px;
	.mainmenu{
		display: flex;
		flex-direction: column;
		padding: 0;
		width: 100%;
		height: auto;
		align-items: center;
		.spec{
			  display: flex;
			  position: relative;
			  margin: 0 auto;
			  margin-top: 4px;
			  border: solid 2px #1B1BB3;
			  width: 40px;
			  height: 32px;
			  font-size: 3.3rem;
			  line-height: 2;
			  color: #1B1BB3;
			  align-items: center;
			  justify-content: center;
			  border-radius: 5px;
		}
		.menu{
				display: none;
				right: 10px;
				width: 100%;
				flex-direction: column;
				margin-top: 5px;
				padding: 0px;
				background: #FFBF00;
				line-height: 1.7;
				li{
					font-size: 0.8rem;
					list-style: none;
					border-bottom: solid 1px #BF9B30;
					a{
						color: #1B1BB3;
					}
					a:hover{
						text-decoration: none;
						color: #4F4FD9;
					}
				}
				li:nth-child(3),
				li:nth-child(4),
				li:nth-child(5),
				li:nth-child(6){
					opacity: 0.5;
					a{
					color: #1B1BB3;
					}
				}
				.dropdown1{
					div{
						display: none;
					}
					.dropdown1_menu{
						display: none;
						padding: 0;
						li{
							width: 100%;
						}
					}
				}
			}
	}
	.mainmenu:hover{
		cursor:pointer;
		.menu{
			display: flex;
				li:nth-child(3),
				li:nth-child(4),
				li:nth-child(5),
				li:nth-child(6),{
					opacity: 0.5;
					a{
						cursor: default;
						color: #1B1BB3;
					}
				}
			.dropdown1:hover{
				.dropdown1_menu{
					display: inherit;
					li{
						border-bottom: none;
					}
				}
			}
		}
	}
}

/*Основная часть*/
.common{
	width: 100%;
	height: auto;
	text-align: center;
	h4{
		font-size: @h4;
		color: blue;
		margin-top: 5px;
	}
}
.portfolio{
	display: flex;
	flex-direction: column;
	width: 85%;
	height: auto;
	margin: 0 auto;
	.my_site{
		width: 100%;
		height: auto;
		.foto{
			width: 100%;
			height: 150px;
			margin-bottom: 3px;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.text{
			width: 100%;
			height: 50px;
			h6{
				font-size: @h6;
				line-height: 1;
				margin-bottom: 2px;
			}
			p{
				font-size: 0.6rem;
				line-height: 1.2;
				}
		}
	}
}
/*Начало подвала*/
.footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: @color_footer;
}
/*Название подвала*/
.footer_name{
	width: 80%;
	height: auto;
	margin: 0 auto;
	margin-top: 3px;
	padding: 0;
	h4{
		font-size:@h4;
	    color: rgb(51, 133, 255);
	    margin: 0;
	    text-align: center;
	}
	p{
		font-size:0.6rem;
		color: @color_footername;
		margin: 0;
		text-align: center;
	}
}
/*Социальные сети*/
.social{
	width: 80%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	p{
		color: white;
		font-size: 0.9rem;
		margin: 0;
	}
	.social_button{
		display: flex;
		width: 90%;
		height: auto;
		padding: 0;
		margin: 0 auto 0 6%;
		justify-content: space-around;
		align-items: center;
		.social_vk{
			background: rgb(0, 61, 153) url(../img/social_icons_320.jpg) -65px -13px no-repeat;
			border-radius: 35px;
		}
		.social_tw{
			background: rgb(0, 61, 153) url(../img/social_icons_320.jpg) -172px -12px no-repeat;
			border-radius: 35px;
		}
		.social_fb{
			background: rgb(0, 61, 153) url(../img/social_icons_320.jpg) -119px -13px no-repeat;
			border-radius: 35px;
		}
		.social_inst{
			background: rgb(0, 61, 153) url(../img/social_icons_320.jpg) -274px -12px no-repeat;
			border-radius: 35px;
		}
		.social_yout{
			background: rgb(0, 61, 153) url(../img/social_icons_320.jpg) -170px -65px no-repeat;
			border-radius: 35px;
		}
	}
}
.social_vk,
.social_tw,
.social_fb,
.social_inst,
.social_yout{
	display: block;
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
}
/*Обратная связь*/
.feedback{
	width: 90%;
	height: auto;
	margin: 15px auto 0px auto;
	.feedback_vk{
		width: 64%;
		height: auto;
		margin: 0 auto;
		input{
			height: 40px;
			border: solid 3px white;
			border-radius: 30px;
			background-color: @color_footer;
			color: white;
			cursor: pointer;
		}
	}
	.feedback_name{
		width: 100%;
		padding: 0;
		color: @color_footername;
		font-size: 4vw;
		margin-top: 3px;
		p:first-child{
			margin: 0;
			text-align: center;
		}
		p:nth-child(2){
			margin: 0;
			text-align: center;
		}
	}
}
